<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" android:installLocation="auto" package="com.netqin.mm" platformBuildVersionCode="30" platformBuildVersionName="11">
    <permission android:description="@string/permission_description" android:label="@string/permission_label" android:name="com.netqin.callblocker.insert.private.data" android:protectionLevel="normal"/>
    <uses-permission android:name="com.netqin.insert.private.date"/>
    <uses-permission android:name="com.netqin.insert.private.date.permission"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/common_app_name" android:largeHeap="true" android:maxAspectRatio="2.4" android:name="com.netqin.cm.main.ui.NqApplication" android:roundIcon="@mipmap/ic_launcher_round" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="appId" android:value="8b1693c1-09c6-3edb-aa2b-6e8b3e7cf096"/>
        <meta-data android:name="trackerId" android:value="UA-51585927-4"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-7839839351978639~2521220042"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="applovin.sdk.key" android:value="Zu87o8uU4VnLwqFBQ3zJ3EWWt51zqG4-Jpkuscpp0eehc3MVUlCBtdZP7edXTXqkwQVJKnXL_cRalsFMW3TtTC"/>
        <activity android:configChanges="keyboardHidden|orientation" android:launchMode="singleTask" android:name="com.netqin.cm.main.ui.splash.SplashActivity" android:screenOrientation="portrait" android:theme="@style/Splash.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.antiharass.ui.activity.BlackListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.antiharass.ui.activity.WhiteListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.antiharass.ui.activity.AddFromContactsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.antiharass.ui.activity.AddFromCallLogActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.antiharass.ui.activity.EditDeleteNumActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:exported="true" android:launchMode="singleTask" android:name="com.netqin.cm.antiharass.ui.activity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.antiharass.ui.activity.BlockCallLogHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.setting.MoreActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.setting.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.antiharass.ui.activity.EmptyAddFromActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.antiharass.ui.activity.BlockRuleActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="layoutDirection|locale" android:launchMode="singleTop" android:name="com.netqin.cm.billing.SubscribeActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize" android:hardwareAccelerated="true" android:name="com.inmobi.rendering.InMobiAdActivity"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver">
            <intent-filter>
                <action android:name="com.inmobi.share.id"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netqin.cm.antiharass.ui.activity.ExitActivity" android:theme="@android:style/Theme.Translucent"/>
        <service android:name="com.netqin.cm.service.MainService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:name="com.netqin.cm.receiver.BootReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.netqin.cm.receiver.CBPhoneStateReceiver$PhoneStateReceiver">
            <intent-filter android:priority="2147483647">
                <category android:name="android.intent.category.HOME"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.PHONE_STATE_2"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.netqin.statistics.CustomAnalyticsReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.netqin.cm.receiver.NetStateReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.ANY_DATA_STATE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.netqin.cm.db.dao.PrivacyDataProvider" android:exported="true" android:name="com.netqin.cm.provider.PrivacyDataProvider"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:excludeFromRecents="true" android:exported="false" android:multiprocess="true" android:name="com.google.android.gms.ads.AdActivity" android:noHistory="true" android:taskAffinity="com.netqin.mm.interstitial" android:theme="@android:style/Theme.Translucent"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.netqin.cm.permission.overlay.OverlayPermissionHintActivity" android:taskAffinity="com.netqin.mm.overlay" android:theme="@style/Custom.Dialog"/>
        <service android:name="com.netqin.cm.service.InterstitialLoadService" android:process=":interstitial"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.display.FirebaseInAppMessagingDisplayRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.FirebaseInAppMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:name="com.library.ad.AdUpdateService"/>
        <service android:name="com.library.ad.AdUpdateJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.libaray.gdpr.GdprPrivacyActivity" android:screenOrientation="portrait" android:theme="@style/GDPR_Activity"/>
        <provider android:authorities="com.netqin.mm.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MoPubActivity" android:theme="@style/MoPubFullscreenTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MraidActivity" android:theme="@style/MoPubFullscreenTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.common.MoPubBrowser" android:theme="@style/MoPubFullscreenTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:theme="@style/MoPubFullscreenTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.RewardedMraidActivity" android:theme="@style/MoPubFullscreenTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.common.privacy.ConsentDialogActivity" android:theme="@style/MoPubFullscreenTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.facebook.ads.AudienceNetworkActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.facebook.ads.internal.ipc.RemoteANActivity" android:process=":adnw" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="false" android:name="com.facebook.ads.internal.ipc.AdsProcessPriorityService"/>
        <service android:exported="false" android:name="com.facebook.ads.internal.ipc.AdsMessengerService" android:process=":adnw"/>
        <provider android:authorities="com.netqin.mm.AudienceNetworkContentProvider" android:exported="false" android:name="com.facebook.ads.AudienceNetworkContentProvider"/>
        <provider android:authorities="com.netqin.mm.com.squareup.picasso" android:exported="false" android:name="com.squareup.picasso.PicassoProvider"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="3.0.2"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:hardwareAccelerated="true" android:name="com.applovin.adview.AppLovinInterstitialActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:hardwareAccelerated="true" android:launchMode="singleTop" android:name="com.applovin.adview.AppLovinFullscreenActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.applovin.sdk.AppLovinWebViewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.applovin.mediation.MaxDebuggerActivity" android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.applovin.mediation.MaxDebuggerDetailActivity" android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"/>
        <service android:exported="false" android:name="com.applovin.impl.sdk.utils.AppKilledService" android:stopWithTask="false"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.netqin.mm.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.ads.AdService"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.netqin.mm.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
    </application>
</manifest>